.fa-check-square-o{
    width: 11px;
}
.fa-square-o{
	width:11px;
}
.sidebar-menu .treeview-menu > li.active{
	background-color: #387fa9; 
}
.sidebar-menu .treeview-menu > li.active >a{
	background-color: #387fa9; 
}
.show-only-bottom {
	background-color: #F7F7F7;
	border-top:none;
	border-left:none;
	border-right:none;
}
.modal-content{
	background-color: #F7F7F7;
}
th, td { white-space: nowrap; }
.table-primary thead tr th {
    background-color: #3c8dbc;
    color: #fff;
}
.dataTables_scrollBody {margin-top: -1px;}
.dropdown-menu{min-width: 80px;}
table.dataTable thead > tr > th. {
    padding-right: 30px;
}
.my-tab{
	border-top: 3px solid #3c8dbc;
}