.fa-check-square-o{
    width: 11px;
}
.fa-square-o{
	width:11px;
}
.sidebar-menu .treeview-menu > li.active{
	background-color: #387fa9; 
}
.sidebar-menu .treeview-menu > li.active >a{
	background-color: #387fa9; 
}
.show-only-bottom {
	background-color: #F7F7F7;
	border-top:none;
	border-left:none;
	border-right:none;
}
.modal-content{
	background-color: #F7F7F7;
}
th, td { white-space: nowrap; }