<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<settings> 
        <setting name="cacheEnabled" value="true" /><!-- 全局映射器启用缓存 -->   
        <setting name="useGeneratedKeys" value="true" /> 
        <setting name="defaultExecutorType" value="REUSE" /> 
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <plugins>
    	<!-- 开启sql执行时间监控拦截器,在系统稳定后,可关闭该拦截以提高系统效率-->
    	<plugin interceptor="com.tq.management.base.plugin.ShowSqlInterceptor"></plugin>
    </plugins>
	
</configuration>